.my-profile-main-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width:768px){
  .my-profile-main-container{
    padding-left: 12%;
    padding-right: 12%;
  }
}

.vh-loader-container {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
