.login-main-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 576px) {
  .login-main-container {
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .login-main-container {
    flex-direction: row;
    padding: 10px;
  }
}

.sound-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 35px;
  outline: none;
}

.login-theme-btn {
  position: absolute;
  top: 10px;
  right: 55px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 35px;
}

@media screen and (max-width: 768px) {
  .login-large-img {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .login-large-img {
    width: 400px;
  }
}

@media screen and (min-width: 900px) {
  .login-large-img {
    width: 550px;
    margin: 10px;
  }
}

.login-form-container {
  padding: 20px;
}

@media screen and (min-width: 576px) {
  .login-form-container {
    width: 550px;
  }
}

@media screen and (min-width: 768px) {
  .login-form-container {
    max-width: 300px;
    margin: 10px;
  }
}

.login-website-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.login-website-logo {
  height: 60px;
}

@media screen and (min-width: 768px) {
  .login-website-logo {
    height: 40px;
  }
}

.login-insta-share-heading {
  font-family: Roboto;
  font-size: 35px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  margin: 20px 20px;
}

@media screen and (min-width: 768px) {
  .login-insta-share-heading {
    font-size: 28px;
    margin: 10px 10px;
  }
}

.login-form-label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .login-form-label {
    font-size: 1em;
  }
}

.login-form-input-field {
  height: 50px;
  width: 100%;
  font-size: 16px;
  padding: 10px;
  outline: none;
  margin-bottom: 25px;
  border-radius: 3px;
  border: none;
  background-color: #eeeeee;
}

@media screen and (min-width: 768px) {
  .login-form-input-field {
    height: 40px;
  }
}

.login-error-msg {
  color: #ef4444;
  margin-bottom: 10px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.login-btn {
  height: 48px;
  width: 100%;
  border: none;
  background-color: #4094ef;
  border-radius: 5px;
  color: #fff;
  margin-top: 10px;
  font-size: 16px;
  padding: 10px;
  outline: none;
}

@media screen and (min-width: 768px) {
  .login-btn {
    height: 40px;
  }
}


